@font-face {
    font-family: "kumbh";
    src: url("/fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf ");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "kumbh";
}

body{
    height: 98vh;
    font-size: 16px;
}

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --black-light: hsla(0, 0%, 0%, 0.75);
    --orange: hsl(26, 100%, 55%);
    --orange-pale: hsl(25, 100%, 94%);
    --grayish-blue: hsl(220, 14%, 75%);
    --grayish-blue-light: hsl(223, 64%, 98%);
    --grayish-blue-dark: hsl(219, 9%, 45%);
    --blue-dark: hsl(220, 13%, 13%);


}
.product-page{
    height: 100%;
    background-color: var(--white);
}

/*header section*/
.header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 18rem;
    margin-right: 18rem;
    padding-bottom: 2rem;
    align-items: center;
    border-bottom: thin solid var(--grayish-blue);
    border-width: 70%;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.top-menu{
    font-weight: 400;
}

.top-menu ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.top-menu ul li a{
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    color: var(--grayish-blue-dark);
    cursor: pointer;
    pointer-events: auto;
    
}

.top-menu ul li a::after{
    content: '';
    position: absolute;
    background-color: var(--orange);
    height: 5px;
    width: 0;
    left: 0;
    bottom: -3.1rem;
    transition: all 0.2s ease-in-out;
}

.top-menu ul li a:hover::after{
    width: 100%;
}

/*cart and profile section*/

.cart-and-profile{
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.cart-section{
    position: relative;
}
.cart-section img{
    pointer-events: auto;
    cursor: pointer;
    width: 30px;
}
.cart-item-quantity-preview{
    background-color: var(--orange);
    width: fit-content;
    border-radius: 40%;
    color: var(--white);
    font-weight: 700;
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    position: absolute;
    top: -10px;
    right: -10px;
}

/*TODO make the display status continue while hovering on the cart and its neighbourhood*/
/*cart section*/
.cart-container{
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 1px 38px var(--black-light);
    
    left: -200px;
    top: 0;
    pointer-events: auto;
    width: 400px;
    border-radius: 10px;
    display: none;
    grid-template-rows: 1fr 2fr;
    transition: all 0s ease-in-out;
}

/* #cart_icon:hover + .cart-container, .cart-container:hover{
    display: grid;
} */

.cart-title{
    font-weight: 700;
    align-self: center;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: thin solid var(--grayish-blue);
}

/*option if empty*/
.cart-item-empty{
    justify-self: center;
    align-self: center;
    font-weight: 700;
    color: var(--grayish-blue-dark);
    visibility: hidden;
    display: none;
}

/*option if full*/

.cart-item-section{
    visibility: visible;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-item-img{
    width: 50px;
}
.cart-item-img img{
    width: 100%;
    border-radius: 5px;
}
.cart-item-description{
    color: var(--grayish-blue-dark);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.cart-item-total-price{
    color: var(--black);
    font-weight: 700;
}

.cart-item-delete-option button{
    border: none;
    background-color: inherit;
    width: 20px;
    cursor: pointer;
}
.cart-checkout{
    width: 100%;
}
.cart-checkout button{
    background-color: var(--orange);
    cursor: pointer;
    pointer-events: auto;
    color: var(--white);
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 15px 30px;
    border-radius: 10px;
}


.profile{
    width: 50px;
    pointer-events: auto;
    cursor: pointer;
}

.profile img{
    width: 100%;
    border-radius: 50%;
    border: 0px solid var(--orange);
    transition: all 0s ease-in-out;

}

.profile img:hover{
    border: 2px solid var(--orange);
    
}



/*main content section*/
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

/*product grid section*/
.product-grid{
    display: grid;
    gap: 30px;
    width: 55%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
}

/*product images(left side)*/
.product-image{
    grid-column: 1/2;
    grid-row: 1/2;
}
.product-image img{
    width: 100%;
    border-radius: 20px;
}

.product-preview-lst{
    grid-column: 1/2;
    grid-row: 2/3;
}

.product-preview-lst ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.product-preview-lst ul li{
    width: 80px;
    border-radius: 10px;
    overflow: hidden;

}

.product-preview-element img{
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
}

.product-preview-element img:hover, .product-preview-element-img-selected{
    opacity: 0.5;
}

.img-selected{
    border: 2px solid var(--orange);
}


/*product info(right side)*/
.product-info{
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    margin-top: 100px;
    margin-left: 60px;
    flex-direction: column;
    gap: 30px;
}

.product-brand{
    color: var(--orange);
    font-weight: 700;
    text-transform: uppercase;
}
.product-name{
    font-weight: 700;
    font-size: 3rem;
}
.product-description{
    color: var(--grayish-blue-dark);
}
.product-price-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-price-and-discount{
    display: flex;
    gap: 20px;
}
.product-actual-price{
    font-weight: 700;
    font-size: 1.5rem;
}
.product-discount{
    color: var(--orange);
    width: fit-content;
    font-weight: 700;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background-color: var(--orange-pale);
}
.product-previous-price{
    font-weight: 700;
    color: var(--grayish-blue);
    text-decoration: line-through;
}

/*cart and quantity section*/
.product-cart-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.product-select-quantity{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--grayish-blue-light);
    border-radius: 10px;
    width: fit-content;
}

/* delete default plus and minus button from input number */
.product-select-quantity input[type="number"]{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.product-select-quantity input[type="number"]::-webkit-inner-spin-button,
.product-select-quantity input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.product-select-quantity button, .product-select-quantity input{
    border: none;
    background-color: var(--grayish-blue-light);
}

.product-select-quantity input{
    pointer-events: none;
    font-weight: 700;
    font-size:1.1rem;
    text-align: center;
    width: 100px;
}
.product-select-quantity input:focus{
    outline: none;
}


.product-select-quantity button{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.product-select-quantity button:hover{
    opacity: 0.7;
}


.product-add-to-cart{
    width: 60%;
    height: 100%;
    
}

.product-add-to-cart button img{
    width: 1rem;
}
.product-add-to-cart button{
    box-shadow: 0px 30px 18px var(--orange-pale);
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
    color: var(--white);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 15px 30px;
    border-radius: 10px;
    transition: opacity 0.2s ease-in-out;
}
.product-add-to-cart button:hover{
    opacity: 0.7;
}


